<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Recipes</title>
</head>
<body>
    <nav>
        <a href='/recipes/new'>Create</a>
        <a href="/logout">Logout</a>
    </nav>
    <h2>Welcome {{ user.first_name }}</h2>
    <p>These are the recipes</p>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Under 30 minutes ?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for info in recipe_info %}
                <tr>
                    <td>{{ info.name }}</td>
                    <td>{{ info.under_30_minutes }}</td>
                    <td><a href="">Edit</a> | <a href="">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>