<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Recipes</title>
</head>
<body>
    <h2>Add New Recipe</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for m in messages %}
                <h5>{{ m }}</h5>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="/recipes/create_new" method="post">
        <section>
            <label for="name">Name:</label>
            <input type="text"name="name">
        </section>
        <section>
            <label for="description">Description:</label>
            <textarea name="description" cols="40" rows="5"></textarea>
        </section>
        <section>
            <label for="instructions">Instructions:</label>
            <textarea name="instructions" cols="40" rows="=20"></textarea>
        </section>
        <section>
            <label for="created_at">Date Made On:</label>
            <input type="date" name="created_at">
        </section>
        <section>
            <p>Under 30 Minutes ?</p>
            <input type="radio" name="under_30_minutes" value="Yes">
            <label for="Yes">Yes</label>
            <input type="radio" name="under_30_minutes" value="No">
            <label for="No">No</label>
        </section>
        <input type="submit" value="Create">
    </form>
</body>
</html>