<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>SELL FAST</title>
</head>
<body>
    <h3 class="text-left font-weight-bold"> Here are the listing details :</h3>
    <nav class="nav justify-content-end">
        <a href="/dashboard" class="nav-link">Dashboard</a>
        <a href="" class="nav-link">Account</a>
        <a href="/logout" class="nav-link">Logout</a>
    </nav>
    <main class="p-3 mb-2 bg-success text-white container">
        <p class="text-left font-weight-bold">Property Name: {{one_listing.property_name}}</p>
        <P class="text-left font-weight-bold">Description: {{one_listing.description}}</P>
        <P class="text-left font-weight-bold">Address: {{one_listing.address}}</P>
        <P class="text-left font-weight-bold">Selling Price: {{one_listing.price}}</P>
        <P class="text-left font-weight-bold">Number of bedrooms: {{one_listing.number_of_bedrooms}}</P>
        <P class="text-left font-weight-bold">Number of bathrooms: {{one_listing.number_of_bathrooms}}</P>

        <P class="text-left font-weight-bold">Seller: {{ user.first_name }} {{ user.last_name}}</P>
    </main>
</body>
</html>