<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>*Sasquatch Websighting*</title>
</head>
<body>
    <h2 class="text-center">Put Car Up for Sale</h2>
    <header>
        <nav class="nav justify-content-end">
            <a href="/dashboard" class="nav-link">Dashboard</a>
            <a href="/logout" class="nav-link">Logout</a>
        </nav>
    </header>
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for m in messages %}
                    <h5>{{ m }}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
    <div class="p-3 mb-2 bg-info text-white w-25 p-3 container">
        <form action="/dashboard/new/create", method="post" class="form-group">
            <section>
                <label for="price">Price:</label>
                <input type="number" value="0" name="price" class="form-control">
            </section>
            <section>
                <label for="model">Model:</label>
                <input type="text" name="model" class="form-control">
            </section>
            <section>
                <label for="make">Make:</label>
                <input name="make" class="form-control">
            </section>
            <section>
                <label for="year">Year:</label>
                <input type="number" value="0" name="year" class="form-control">
            </section>
            <section>
                <label for="description">Description:</label>
                <textarea cols="30" rows="10" name="description" class="form-control"></textarea>
            </section>
            <section>
                <button class="btn btn-success form-control">Add</button>
            </section>
            <section style="display: none;">
                <label for="users_id">User</label>
                <input type="text" name="users_id" value="{{user.id}}">
            </section>
        </form>
    </div>
</body>
</html>