<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <a href="/products"><button  type="button">Dashboard</button></a>
            <a href="/products/new"><button type="button">Add Product</button></a>
            <a href="/logout"><button type="button" > Logout</button></a>
        </div>
        <div>
            <p>{{products.name}}</p>
                <h3>Created By {{products.creator.first_name}} {{products.creator.last_name}}</h3>
        </div>
        <div>
            <p>item Type:{{products.item}}</p>
        </div>
        <div>
            <p>Description:</p>
            <p>{{products.description}}</p>
        </div>
        <div>
            <a href="/products/{{products.id}}/edit"><button type="button"> Edit</button></a>
        </div>
    </div>



</body>
</html>