<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Ninjas</title>
</head>
<body>
    <h1>New Ninja</h1>
    <form action="/dojos/ninjas", method="post">
        <select name="dojos_id">
            <!--  for loop for dojos -->
            {% for dojo in all_dojos %}
            <option value="{{ dojo.id }}">{{dojo.name}}</option>
            {% endfor %}
            <!-- end for loop -->
        </select>
        <label for="fname">First Name:</label>
        <input type="text" name="fname">
        <label for="lname">Last Name:</label>
        <input type="text" name="lname">
        <label for="age">Age:</label>
        <input type="number" name="age">
        <input type="submit" value="CREATE">
    </form>
</body>
</html>