<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <title>Dojo Survey Index</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
{% endwith %}
    <div id="survey">
        <form action="/process" method="post">
            <label for="name">Your Name:</label>
            <input type="text" name="name"><br>
            <label for="location">Location:</label>
            <select name="location">
                <option value=""></option>
                <option value="San Jose`, CA">San Jose`, CA</option>
                <option value="Arlington, VA">Arlington, VA</option>
            </select><br>
            <label for="language">Favorite Language:</label>
            <select name="language">
                <option value=""></option>
                <option value="python">Python</option>
                <option value="javascript">Javascript</option>
            </select><br>
            <label for="message">Comments:</label><br>
            <textarea name="message" rows="10" cols="30"></textarea><br>
            <input type="submit" name="submit" id="button">
        </form>
    </div>
</body>
</html>